root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space

[*.{py,c,sh,go,php,xml,md,java,kt,bat,gradle,properties,ini,conf,sql,env,tf,tfstate,tfvars}]
indent_size = 4

[*.{json,yml,js,ts,tsx,jsx,css,scss,html,rb}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
